# # Database Configuration
# # DATABASE_URL="postgresql://username:password@localhost:5432/eclinic_db"

# # # JWT Configuration
# # JWT_SECRET="your-super-secret-jwt-key-here"
# # JWT_EXPIRE="24h"

# # # Session Configuration
# # SESSION_SECRET="your-session-secret-here"

# # # Google OAuth Configuration
# # GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
# # GOOGLE_CLIENT_SECRET="your-google-client-secret"
# # GOOGLE_CALLBACK_URL="http://localhost:5000/api/auth/google/callback"

# # # Frontend URL
# # FRONTEND_URL="http://localhost:5173"

# # # Server Configuration
# # PORT=5000
# # NODE_ENV="development"
# DATABASE_URL="postgresql://neondb_owner:npg_mJqnpZfR1TM2@ep-blue-silence-aip5zus0-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# # JWT Configuration
# JWT_SECRET="123123"
# JWT_EXPIRE="2422h"

# # Session Configuration
# SESSION_SECRET="your-session-secret-key-here"

# # Server Configuration
# PORT=5000
# NODE_ENV="development"

# # Frontend URL
# FRONTEND_URL="http://localhost:3000"

# # Google OAuth Configuration
# GOOGLE_CLIENT_ID="206676511830-su73kkhisv1762043jh7p27m4iolpmec.apps.googleusercontent.com"
# GOOGLE_CLIENT_SECRET="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"
# GOOGLE_CALLBACK_URL="http://localhost:5000/api/auth/google/callback"

